body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #faf8f8;
}

header {
    background-color: #910114;
    color: white;
    padding: 20px;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.box {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 30%;
    margin: 10px;
    text-align: center;
}

#report-output {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#report-container {
    max-height: 500px;
    overflow-y: auto;
}