/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
    text-align: center;
}

/* Container */
.container {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    background: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container h1 {
    font-size: 2.5em;
    color: #4a0707;
    margin-bottom: 10px;
}

.container p {
    font-size: 1.2em;
    color: #816c6c;
    margin-bottom: 30px;
}

/* Box Container */
.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 10px;
}

/* Individual Box */
.box {
    background-color: #4a0707;
    color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.box a {
    text-decoration: none;
    color: white;
}

.box h3 {
    margin: 0;
    font-size: 1.5em;
}

.box p {
    margin-top: 10px;
    font-size: 1em;
}

.box:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        margin: 20px;
    }

    .box-container {
        grid-template-columns: 1fr;
    }
}

.logout-container {
    text-align: right;
    margin-bottom: 20px;
  }
  
  .logout-button {
    display: inline-block;
    position: relative;
    right: 400px;
    padding: 10px 20px;
    background-color: #4a0707;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .logout-button:hover {
    background-color: #7e4a4a;
  }